<div class="btn-group" role="group" aria-label="Basic example">
  <a href="?act=reg" class="btn btn-secondary">Registration</a>
  <a href="?act=auth" class="btn btn-secondary active">Login</a>
</div>
<form id="form-auth">
  <div class="form-group">
    <label>Login</label>
    <input class="form-control" type="text" name="login">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control" type="password" name="password">
  </div>
  <input type="hidden" name="auth">
  <input type="button" act="submit-auth" class="form-control btn-dark btn-primary" value="Login" />
</form>








