
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="?act=reg" class="btn btn-secondary active">Registration</a>
  <a href="?act=auth" class="btn btn-secondary">Login</a>
</div>
<form id="form-reg">
  <div class="form-group">
    <label>Login</label>
    <input class="form-control" type="text" name="login">
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label>Password</label>
      <input class="form-control" type="password" name="password">
    </div>
    <div class="form-group col-6">
      <label>Confirm Password</label>
      <input class="form-control" type="password" name="confirm_password">
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" name="email">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" name="name">
  </div>
  <input type="hidden" name="reg">
  <input type="button" act="submit-reg" class="form-control btn-dark btn-primary" value="Registration" />
</form>
